.header {
    display: none;
    margin-bottom: 30px;
}

.panel {
    display: none;
    white-space: nowrap;
    width: 1%;
}

th, td {
    border: 1px solid black;
}

.myselect-container select {
    position:absolute;
}

.selected-page {
    color: red;
}

.edit-button, .delete-button, .save-button {
    cursor: pointer;
}

.form-flex {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 15px 20px;
    align-items: center;
    max-width: 500px;
}

.form-flex label {
    text-align: left;
    white-space: nowrap;
}

.form-flex input, .create-button{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

